@model Tenis.Models.Torneo

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>

<div>
    <h4>Torneo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Torneo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Torneo1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estadio.Estadio1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estadio.Estadio1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pais.Pais1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pais.Pais1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Superficie.Superficie1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Superficie.Superficie1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoTorneo.TipoTorneo1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTorneo.TipoTorneo1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdTorneo }) |
    @Html.ActionLink("Regresar al listado", "Index")
</p>
